<div class="container-fluid page-body-wrapper">
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                  <h3 class="font-weight-bold">Welcome back, Admin</h3>
                  <h6 class="font-weight-normal mb-0">All systems are running smoothly! You have <span
                      class="text-primary">3 unread alerts!</span></h6>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card mb-3" style="max-width: 540px;background-color: #4B49AC;">
                <div class="row g-2">
                  <div class="col-md-5">
                    <div class="card-body" style="margin-top: 5vw;">
                      <h5 class="card-title" style="color: white;">Balance</h5>
                      <p class="card-text" style="color: white;font-size: 1.5vw;">{{formatMoney adminBalance}} VND</p>
                    </div>
                  </div>
                  <div class="col-md-7">
                    <img src="./img/wallet.png" class="img-fluid rounded-start" alt="people"
                      style="width: 100%;height: 20vw; padding: 10px 0;">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 grid-margin transparent">
              <div class="row">
                <div class="col-md-6 mb-4 stretch-card transparent">
                  <div class="card card-tale">
                    <div class="card-body">
                      <p class="mb-4">Total Accounts</p>
                      <p class="fs-30 mb-2">{{totalAccounts}}</p>
                      <p>10.00% (30 days)</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-4 stretch-card transparent">
                  <div class="card card-dark-blue">
                    <div class="card-body">
                      <p class="mb-4">Total Transactions</p>
                      <p class="fs-30 mb-2">{{totalTransactions}}</p>
                      <p>22.00% (30 days)</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                  <div class="card card-light-blue">
                    <div class="card-body">
                      <p class="mb-4">Total In Transaction</p>
                      <p class="fs-30 mb-2">{{totalInTransactions}}</p>
                      <p>2.00% (30 days)</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 stretch-card transparent">
                  <div class="card card-light-danger">
                    <div class="card-body">
                      <p class="mb-4">Total Out Transaction</p>
                      <p class="fs-30 mb-2">{{totalOutTransactions}}</p>
                      <p>0.22% (30 days)</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title mb-0">Transaction</p>

                  <div class="table-responsive">
                    <table class="table table-striped table-borderless">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Username</th>
                          <th>Amount</th>
                          <th>Created At</th>
                          <th>Type</th>
                        </tr>
                      </thead>
                      <tbody>
                        {{#each transactions}}
                          <tr>
                          <td class="py-1">{{sum @index 1}}</td>
                          <td>{{this.username}}</td>
                          {{#if this.type}}
                            <td class="font-weight-bold text-danger">-{{this.amount}} VND</td>
                          {{else}}
                            <td class="font-weight-bold text-success">+{{this.amount}} VND</td>
                          {{/if}}
                          <td>{{formatDatetime this.created_at}}</td>
                          <td class="font-weight-medium">
                            {{#if this.type}}
                              <div class="badge badge-danger">Out</div>
                            {{else}}
                              <div class="badge badge-success">In</div>
                            {{/if}}
                          </td>
                        </tr>
                        {{/each}}
                        {{!-- <tr>
                          <td class="py-1">
                            <img src="./img/faces/face1.jpg" alt="image" />
                          </td>
                          <td>Search Engine Marketing</td>
                          <td class="font-weight-bold">$362</td>
                          <td>21 Sep 2018</td>
                          <td class="font-weight-medium">
                            <div class="badge badge-success">Completed</div>
                          </td>
                        </tr> --}}
                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- main-panel ends -->
    </div>